* {
  padding: 0;
  margin: 0;
}
.footer
{
  background-color: grey;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  min-height: 200px;
  padding: 30px;
}
.footer > div {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}
.hero {
  margin: 50px px 50px 0px;
  width: 100%;
  height: 400px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 22px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
  align-items: center;
  background-color: rgb(234, 14, 14);
}

.hero > p {
  width: 500px;
}
.icons-container
{

}
.icons
{
  display: flex;
  flex-direction: row;
  gap: 8px;
  justify-content: left;
}
.icons > img
{
  width: 24px;
  height: 24px;
}
.middle {
    gap: 10px;
  margin-top: 30px;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}
.container {
    width: 50%;
  /* background-color: blue; */
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  gap: 30px;
}
.profile {
    width: 100%;
    box-sizing: border-box;
  background-color: white;
  display: flex;
  flex-flow: row;
  font-size: 18px;
  align-items: center;
  
}
.txt
{
    display: flex;
    flex-direction: column;
    width: 100%;
}
h2{
    color:green;
}

.profile > img {
  width: 120px;
  height:120px;
  margin: 12px;
}

hr
{
    height: 1px;
    width: 70%;
    margin: 0 auto;
    border-bottom: 0;
    border-top: 1px solid #D1D1D1;
}
.profile > p {
    color: #949494;
    font-size: medium;
  }
