main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec1 {
    width: 95vw;
    height: 85vh;
    margin: 4vh 0;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    background: url(blog_assests/freepik__35mm-film-photography-a-vibrant-and-visually-appea__81486\ 1.png) no-repeat center center/cover;
}

.gradient {
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgb(0, 106, 5) 0%, rgba(87, 199, 133, 0) 65%);
}
.sec1>.text-content {
    position: absolute;
    bottom: 0%;
    padding: 30px 50px;
    /* color: #222; */
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.397);
}
.sec1>.text-content h3 {
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.sec1>.text-content>h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}
.sec1>.text-content>p{
    width: 60%;
    font-size: 1.2rem;
}
.sec2{
    width: 95vw;
    margin-top: 2vh;
    padding: 20px 50px;
    /* background-color: red; */
}
.sec2>h2{
    margin-bottom: 1rem;
}
.sec2>.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}
.blog-card{
    width: 32%;
    height: 380px;
    padding: 20px;
    border-radius: 12px;
    background-color: rgb(247, 254, 255);
}
.blog-card>img{
    width: 100%;
    height: 60%;
    border-radius: 10px;
    /* background-color: #000;  */
}
.blog-card>.card-content>h3{
    height: 45px;
    margin: 0.5rem 0;
}
.card-content>p{
    height: 35px;
    overflow: hidden;
}
.card-content>.id-details{
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0.9rem;
    margin-top: 20px;
}
.id-details>.img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #000;
}