#sec1{
    width: 100%;
    height: 90vh;
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#sec1>.left{
    padding: 10px;
}
#sec1>.left{
    width: 55%;
    height: 90%;
    border: solid 1px rgba(0, 0, 0, 0.411);
    border-radius: 10px;
    /* background-color: blue; */
}
#sec1>.left>.img{
    width: 100%;
    height: 60%;
    background: url(blog_assests/freepik__35mm-film-photography-a-vibrant-and-visually-appea__81486\ 1.png) no-repeat center center/cover;
}
#sec1>.left>.text{
    padding: 0 5px;
}
#sec1>.left>.text>h1{
    padding: 10px 0;
    font-size: 2.5rem;
}
#sec1>.left>.text>p{
    font-size: 17px;
}
#sec1>.left>.user-id{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 5px 0px;
}
#sec1>.left>.user-id>.img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: gray;
}
#sec1>.right{
    width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column;
    gap: 2%;
    background-color: red;
}
#sec1>.right>.card1,
#sec1>.right>.card2{
    width: 100%;
    height: 49%;
    padding: 10px;
    display: flex;
    border: solid 1px rgba(0, 0, 0, 0.411);
    border-radius: 10px;
    background-color: green;
}
#sec1>.right>.card1>.img{
    width: 50%;
    height: 100%;
    background: url(blog_assests/Image.png) no-repeat center center/cover;
}